$calendar-body-width: 260px;

.bxu-pickerpanel-container {
  position: relative;
  width: $calendar-body-width;
  background: #fff;
  padding: 6px 6px;

  &.is-popover {
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
}

  & ul {
    list-style-type: none;
  }

  & .calendar-body {
    & .mondata-row-wrapper .row-data-container {
      position: relative;
      display: flex;
      justify-content: center;
      & .simple-calgrid-container {
        width: $calendar-body-width / 7;
        height: $calendar-body-width / 7;
      }
    }
  }

  & .dayname {
    font-size: 10px;
    color: #70757a;

    &:hover {
      background: none;
      cursor: default;
    }
  }
}
