@import '../../style/mixin.scss';

$floatcart-md-width: 450px;
$floatcart-sm-width: 100vw;

$toggle-close-width: 50px;
$background: #1b1a20;

$color: lighten(grey, 50%);
$pos-transition: right .4s ease;



.float-cart-container {
  position: fixed;
  width: $floatcart-md-width;
  top: 0;
  height: 100vh; //temp
  background: $background;
  opacity: .95;
  overflow: auto;
  transition: $pos-transition;

  & .toggle-close {
    position: fixed;
    top: 0;
    width: $toggle-close-width;
    height: $toggle-close-width;
    color: white;
    background: $background;
    cursor: pointer;
    @include flex;
    justify-content: center;
    align-items: center;
    transition: $pos-transition;

    & .icon {
      height: 30px;
      width: 30px;
      // margin-right: 10px;
    }
  }

  @media only screen and (min-width: 900px){
    right: - $floatcart-md-width;

    & .toggle-close {
      right: 0;
    }

    &.fadeOut {
      right: 0;

      & .toggle-close {
        right: $floatcart-md-width;
      }
    }
  }

  @media only screen and (max-width: 900px){
    width: $floatcart-sm-width;
    right: - $floatcart-sm-width;

    & .toggle-close {
      right: 0;
    }

    &.fadeOut {
      right: 0;

      & .toggle-close {
        left: 0;
      }  
    }
  }

  & .reminder {
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: white;
  }

  & .header {
    @include flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    & .icon {
      height: 35px;
      width: 35px;
      margin-right: 10px;
    }
    
    & .title {
      color: $color;
      font-size:20px;
      font-weight: 600;
    }
  } // end header

  & .icon {
    position: relative;
    background-image: url('../../assets/bag-icon.png');
    display: inline-block;
    // height: 35px;
    // width: 35px;
    // margin-right: 10px;

    & .bag_quantity {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: scale(-50%, 50%);
      color: #1b1a20;
      background: orange;
      font-size: 14px;
      padding: 0 5px;
      border-radius: 50%;
    }
  }

  & .subtotal {
    @include flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    color: lighten(grey, 5%);
    font-size: 15px;
    font-weight: 400;

    & .total__detail {
      @include flex;
      flex-direction: column;
      align-items: flex-end;

      & .total_price {
        color: orange;
        font-size: 20px;
        font-weight: 500;

        & .total_price__currency {
          margin-right: 10px;
        }
      } 
      & .total__installment {
        color: grey;
        font-size: 14px;
      }
    }

  }

  & .checkout {
    background: darken($background, 10%);
    color: $color;
    margin: 0 20px;
    padding: 15px 0; 
    cursor: pointer;
  }
}

.modal-layer.center-layer {
   display: flex;
   justify-content: center;

   & .float-content-modal {
     font-size: 16px;
     display: flex;
     justify-content: center;
     top: 10px;
     padding: 10px;
     background: white;
     border-radius: 6px;
   }
}

