@import "../../../../../assets/style/theme.scss";
@import "../../../../../assets/style/mixin.scss";

.placeholder {
  flex: 0 0 $columnBodyOffset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2px;
  & .gmt {
    padding-bottom: 20px;
  }

  & .ali-icon {
    transition: transform 0.2s ease;
    &.is-collapse {
      transform: rotate(180deg);
    }
  }
}
