$shelf-top-padding: 20px;
$shelf-horizon-padding: 10%;

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: auto;
}

main {
    padding: $shelf-top-padding $shelf-horizon-padding;

  &.shelf-container {
    @include flex;
  }
}


