@import '../style/mixin.scss';

$shelf-top-padding: 20px;
$shelf-horizon-padding: 20px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
}

main {
    padding: $shelf-top-padding $shelf-horizon-padding;
    max-width: 95vw;
    margin: auto;
    position: relative;
}


