/* common */
$fontSizeBasic: 14px;
$fontSizeSmall: $fontSizeBasic * 0.8;
$fontSizeMedium: $fontSizeBasic * 1.2;
$fontSizeGrand: $fontSizeBasic * 1.5;

/* color */
$fontColor: #3c4043;
$appFrameBorderColor: #dadce0; // app主体框架的border color
$appScrollBarColor: darken(#dadce0, 10%);
$fontSubTitleColor: #70757a;

/* shape */
$btnBorderRadius: 4px;
$focusShadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

/* layout */
$headerContainerHeight: 64px; // header width;

$calBodyShelfWidth: 280px; // body shelf width;
$calBodyShelfCreatePanelHeight: 70px; // body shelf create panel height;

$calBodyLinkSideBarWidth: 60px; // body linksidebar width;

$calBodyContentColumnLayoutHeaderHeight: 70px; // main body header height
$calBodyContentColumnLayoutSideWidth: 60px; // main body sidebar timeline width;
$calBodyContentColumnLayoutPlaceholderLineWidth: 6px; // 左侧突出线头的长度

// $singleHourGridMinHeight: 40px;
$singleHourGridMaxHeight: 48px;

.btn {
    border-radius: $btnBorderRadius;
    border: 1px solid $appFrameBorderColor;
    font-size: $fontSizeBasic;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.img {
    max-width: 100%;
}

ul {
  list-style-type: none;
}

.is-ellipse {
    border-radius: 30px;
}

.font-subtitle {
    font-size: $fontSizeSmall;
    font-weight: 400;
    color: $fontSubTitleColor;
}

.inline-block {
    display: inline-block;
}

.is-grey {
    color: $fontSubTitleColor;
}

.is-lighter-gey {
    color: #80868b;
}


