/* common */
$fontSizeBasic: 14px;
$fontSizeExtraSmall: $fontSizeBasic * 0.7;
$fontSizeSmall: $fontSizeBasic * 0.9;
$fontSizeMedium: $fontSizeBasic * 1.2;
$fontSizeGrand: $fontSizeBasic * 1.5;

/* color */
$fontColor: #3c4043;
$appFrameBorderColor: #dadce0; // app主体框架的border color
$appScrollBarColor: darken(#dadce0, 10%);
$fontSubTitleColor: #70757a;
$hoverBgColor: lighten(#dadce0, 5%);
$activeBgColor: darken(#dadce0, 14%);
$singleDayGridTodayBgColor: #1a73e8;
$singleDayGridSelectedBgColor: lighten($singleDayGridTodayBgColor, 30%);

$weekLineBgColor: #f1f3f4;

/* shape */
$btnBorderRadius: 4px;
$focusShadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
$calEventDefinerShadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

/* layout */
$headerContainerHeight: 64px; // header width;
$logoFlexBasis: 200px;
$dateDisplayerFlexBasis: 282px;
$layoutPickerFlexBasis: 180px;

$calBodyShelfWidth: 280px; // body shelf width;
$calBodyShelfCreatePanelHeight: 70px; // body shelf create panel height;

$calBodyLinkSideBarWidth: 60px; // body linksidebar width;

$calBodyContentColumnLayoutHeaderHeight: 80px; // main body header height
$calBodyContentColumnLayoutSideWidth: 60px; // main body sidebar timeline width;
$calBodyContentColumnLayoutPlaceholderLineWidth: 6px; // 左侧突出线头的长度

$calBodyContentMonthLayoutHeaderHeight: 30px;
$calBodyContentMonthLayoutSideWidth: 23px; // main body sidebar weekline width;

$singleHourGridMaxHeight: 48px;

.btn {
    border-radius: $btnBorderRadius;
    border: 1px solid $appFrameBorderColor;
    font-size: $fontSizeBasic;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.is-ellipse {
    border-radius: 30px;
}

.font-subtitle {
    font-size: $fontSizeSmall;
    font-weight: 400;
    color: $fontSubTitleColor;
}

.font-calEvent {
    font-size: $fontSizeSmall;
    font-weight: 300;
    color: #fff;
}

.font-layout-option {
    font-size: $fontSizeBasic;
    font-weight: 400;
}

.inline-block {
    display: inline-block;
}

.is-grey {
    color: $fontSubTitleColor;
}

.is-lighter-gey {
    color: #80868b;
}

.no-uselect {
    user-select: none;
}
