@import '../../../../assets/style/theme.scss';
@import '../../../../assets/style/mixin.scss';

$containerWidth: 448px;
$containerMinHeight: 200px;
$bodyMaxHeight: 360px;

.calevent-define-pop-container {
    position: absolute;
    width: $containerWidth;
    background: white;
    border-radius: 5px;
    box-shadow: $calEventDefinerShadow;
    @include customizeScrollbar('.calevent-define-pop-container__body');

    &__body {
      position: relative;
      width: $containerWidth;
      height: 100%;
      overflow-y: auto;
    }
}
