
$timeline-z-index: 100;
$finish-color: #38f;
$breadcrumb-height: 40px;
$breadcrumb-triganle-width: 12px;

.bxu-steps-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  & .bxu-step-wrapper {
    position: relative;
    flex-grow: 1;
    text-align: left;

    & .bxu-steps-tail {
      position: absolute;
      border-radius: 3px;
      z-index: $timeline-z-index;

      & i {
        display: inline-block;
        position: relative;
        background: #bbb;
        z-index: $timeline-z-index;

        &:after {
          content: '';
          position: absolute;
          background: $finish-color;
          transition: all .2s ease-in;
        }
      }
    } // tail

    & .bxu-step {
      position: relative;
      z-index: $timeline-z-index + 1;

      & .bxu-step-head {
        display: inline-block;
        background: white;
        padding: 3px 6px;
        & .bxu-step-head-inner {
          border-radius: 50%;
          font-size: 12px;
          color: white;
          padding: 2px 7px;

          & .bxu-finish-circle {
            &::after {
              content: 'Q';
            }
          }
        }
      } // end head

      & .bxu-step-main {
        & .bxu-step-title {
          font-size: 13px;
        }

        & .bxu-step-description {
          color: #bbb;
          font-size: 12px;
        }
      }
    }

    &.bxu-steps-status {
      &-wait {
        & .bxu-step-head-inner{
          background: #bbb;
        }
      } 

      &-process, &-finish {
        & .bxu-step-head-inner{
          background: $finish-color;
        }
      }

      &-error {
        & .bxu-step-head-inner{
          background: red;
        }
      }
    }
  }

  &.bxu-steps-horizontal {
    flex-direction: row;

    & .bxu-steps-tail {
      margin-left: 55px;
      width: 100%;
      & i {
        width: 100%;
        height: 3px;      
        &:after {
          left: 0;
          height: 3px;
          width: 0;
        }
      }
    }

    & .bxu-step {
      text-align: center;
      display: inline-block;
    }

    & .bxu-steps-status-finish {
      & .bxu-steps-tail i:after{
        width: 100%;
      }
    }
  } // horizontal

  &.bxu-steps-vertical {
    flex-direction: column;

    & .bxu-steps-tail {
      margin-top: 25px;
      height: 100%;
      left: 14px;
      & i {
        height: 100%;
        width: 3px;  
        &:after {
          top: 0;
          width: 3px;
          height: 0;
        }     
      }
    }

    & .bxu-step {
      display: flex;
    }

    & .bxu-steps-status-finish {
      & .bxu-steps-tail i:after{
        height: 100%;
      }
    }
  } // vertical

  &.bxu-steps-breadcrumb, &.bxu-steps-card{
    width: 100%;

    & .bxu-step {
      position: relative;
      height: $breadcrumb-height;
      line-height: $breadcrumb-height;
      text-align: center;
      background: #bbb;
      color: white;
      cursor: pointer;
      font-size: 12px;
      transition: all .1s ease-in;
      
      &:not(:last-child) {
        margin-right: 6px;

        &::after {
          content: '';
          position: absolute;
          right: -($breadcrumb-triganle-width / 2);
          top: 0;
          height: 0;
          width: 0;
          border-top: $breadcrumb-height / 2 solid transparent; 
          border-bottom: $breadcrumb-height / 2 solid transparent;
          border-left: $breadcrumb-triganle-width / 2 solid #bbb;
        }
      }

      &:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        border-top: $breadcrumb-height / 2 solid transparent; 
        border-bottom: $breadcrumb-height / 2 solid transparent;
        border-left: $breadcrumb-triganle-width / 2 solid white;
      }

      &.bxu-step-finish {
        background: $finish-color;
        &:not(:last-child)::after {
          border-left: $breadcrumb-triganle-width / 2 solid $finish-color;
        }
      }
    }
  }
}