@import "../../../../style/mixin.scss";

.image-preview-list {
  position: relative;
  width: 100%;
  padding: 0px 15px 15px 15px;

  & .image-preview-container {
    position: relative;
    width: 100%;

    & .image-blur {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      height: 35%;
      border-radius: 8px;
      z-index: 999;

      &.is-failure {
        background: linear-gradient(180deg, #c44e47, rgba(255, 0, 0, 0));
      }
      &.is-success {
        background: linear-gradient(180deg, #369763, rgba(255, 0, 0, 0));
      }
      &.is-inprogress {
        background: linear-gradient(180deg, #282828, rgba(255, 0, 0, 0));
      }
    }

    & .image-preview-body {
      position: relative;

      & .image-info-header {
        position: absolute;
        width: 100%;
        height: 26px;
        top: 6px;
        padding: 0 6px;
        display: flex;
        justify-content: space-between;

        & .image-info-part {
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden;
          max-width: 100%;

          &.right {
            justify-content: flex-end;
          }

          &.grow {
            flex-grow: 1;
          }

          &.no-shrink {
            flex-shrink: 0;
          }

          & .image-info-text {
            position: relative;
            color: white;
            // width: 100px;
            z-index: 999;
            margin: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            word-break: break-all;
          }
        }

        & .preview-icon {
          position: relative;

          // &.left {
          //   top: 0px;
          //   left: 6px;
          // }
          // &.right {
          //   top: 0px;
          //   right: 6px;
          // }
        }
      }

      & .image-preview {
        width: 100%;
        border-radius: 8px;
      }

    }
  }
}
