.demo-code-render_container {
  position: relative;

  & .demo-code-render_title {
    line-height: 1.5;
    font-weight: 400;
    position: relative;
    margin: 20px 0 10px;
    color: rgba(51, 51, 51, 0.9);
    font-family: Dosis, Source Sans Pro, PingFang SC, Helvetica Neue, Arial, sans-serif;
  }

  & .demo-code-body {
    // padding: 40px 0 0 0;
    border: 1px solid #eaeefb;
    & .demo-code_children {
      padding: 40px;
    }

    & .demo-code_title {
      background: #f5f7fa;
      border: 1px solid #eaeefb;
      &:hover {
        background: lighten(#bbb, 15%);
        transition: all 0.1s ease;
        cursor: pointer;
      }
      & span {
        display: inline-block;
        width: 100%;
        padding-left: 20px;
        height: 60px;
        line-height: 60px;
        color: #666;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
