$timeline-height: 12px;
$timeline-flow-height: 2px;
$background-color: #ea4335;

.cal-nowtimeline {
    position: absolute;
    left: - ($timeline-height/2);
    right: 0;
    height: $timeline-height;
    display: flex;
    align-items: center;
    z-index: 100;

    & .is-dot {
        flex: 0 0 $timeline-height;
        width: $timeline-height;
        height: $timeline-height;
        border-radius: 50%;
        background: $background-color;
    }

    & .is-line {
        flex-grow: 1;
        height: $timeline-flow-height;
        background: $background-color;
    }
}
