.cls-input-style {
    // padding: 10px 40px;
    height: 60px;
    & .zent-input {
      line-height: 60px;
      font-size: 14px;
      padding-left: 10px;
      border: 1px solid #AAAAAA;
    }
}
.zent-input-wrapper[data-zv="8.0.0"].zent-input--size-normal.cls-input-style {
  height: 45px;
}

.cls-text-area-style .zent-textarea[data-zv="8.0.0"] {
  height: 74px;
}