
@import '../../../assets/style/theme.scss';

$calContentContainerPadding: 12px 10px 0 10px;

.calbody-content-container {
    position: relative;
    height: 100%; 
    flex-grow: 1; //瓜分所有剩余空间
    padding: $calContentContainerPadding;
}