$notify-error: rgba(255, 68, 68, 0.8);
$notify-success: rgba(68, 187, 136, 0.8);

.bxu-notify-container {
  position: fixed;
  top: 80px;
  z-index: 10000;
  min-width: 330px;
  max-width: 720px;
  left: 50%;
  transform: translateX(-50%);

  & .bxu-notify-wrapper {
    margin-bottom: 10px;
    line-height: 40px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 14px;
    color: white;


    &.bxu-notify {
      &-success {
        background: $notify-success;
      }
      &-error {
        background: $notify-error;
      }
    }
  }
}

.notify-appear, .notify-exit {
  animation-fill-mode: both;
  animation-play-state: paused;
}

.notify-appear.notify-appear-active {
  animation-play-state: running;
  animation-name: notifyMoveIn;
  animation-duration: 0.3s;
}

.notify-exit.notify-exit-active {
  animation-play-state: running;
  animation-name: notifyMoveOut;
  animation-duration: 0.3s;
}

.notify2-appear {
  opacity: 0;
  transform: translateY(-100%);
}

.notify2-exit {
  opacity: 1;
  transform: translateY(0);
}

.notify2-appear.notify2-appear-active {
  transition-duration: 0.3s;
  opacity: 1;
  transform: translateY(0); 
}

.notify2-exit.notify2-exit-active {
  transition-duration: 0.3s;
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes notifyMoveIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes notifyMoveOut {
  0% {
    opacity: 1;
    max-height: 50px;
  }

  100% {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}