@import "../../../../../../assets/style/theme.scss";
@import "../../../../../../assets/style/mixin.scss";

$itemsPadding: 0 14px;
$optionsWidth: 170px;


.repeatPicker-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  &__trigger {
    padding-right: 8px;

    & span {
      line-height: 36px;
      padding: 0 10px;
    }
  }

  &__content {
    padding: 8px 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

    & .item-title {
      line-height: 38px;
    }

    & .item-wrapper {
      color: $fontColor;
      display: flex;
      align-items: center;
      padding: $itemsPadding;
      cursor: pointer;
      transition: background 0.2s ease-in;

      &:not(.is-disabled):hover {
        background: $hoverBgColor;
      }

      &:not(.is-disabled):active {
        background: $activeBgColor;
      }
    }

    &-options {
      width: $optionsWidth;

      & .item-wrapper {
        justify-content: space-between;
      }
    }
  }
}
