.bxu-upload-wrapper {
    & .bxu-upload-modal-container {
        & .bxu-upload-trigger-container {
            position: relative;
            display: inline-block;
            border: 2px dashed #e5e5e5;
            padding: 50px;
            border-radius: 4px;
            cursor: pointer;

            & .bxu-upload-default-trigger {
              position: absolute;
              transform: translate(-50%, -50%);
              font-size: 50px;
              font-weight: 500;
              top: 50%;
              left: 50%;
              color: #e5e5e5;
            }
        }
    }
}