@import "../../assets/style/theme.scss";

.header-container {
  position: relative;
  display: flex;
  height: 100%;

  &-logo {
    flex-basis: $logoFlexBasis;
    padding-left: 20px;
    
    & a {
      display: flex;
      align-items: center;
    }
    &__title {
      font-size: $fontSizeGrand;
    }

    @media screen and (max-width: 780px) {
      display: none;
    }
  }

  &-dateDisplayer {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: $dateDisplayerFlexBasis;
  }

  &-optionPicker {
    flex-shrink: 0;
    flex-basis: $layoutPickerFlexBasis;
    display: flex;
    align-items: center;

    &__item:first-child {
      margin-right: 15px;
    }
  }
}
