@import '../../../../style/mixin.scss';

.image-preview-list {
  position: relative;
  width: 100%;
  padding: 15px;

  & .image-preview-container {
    position: relative;
    width: 100%;

    & .image-blur {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      height: 35%;
      border-radius: 8px;
      z-index:999;

      &.is-failure {
        background: linear-gradient(180deg, #c44e47, rgba(255, 0, 0, 0));
      }
      &.is-success {
        background: linear-gradient(180deg, #369763, rgba(255, 0, 0, 0));
      }
      &.is-inprogress {
        background: linear-gradient(180deg, #282828, rgba(255, 0, 0, 0));
      }
    }

    & .image-preview-body {
      position: relative;
      
      & .image-preview {
        width: 100%;
        border-radius: 8px;
      }

      & .preview-icon {
        &.left {
          top: 6px;
          left: 6px;
        }
        &.right {
          top: 6px;
          right: 6px;
        }
      }
    }
  }
}
