$selected-color: #1a73e8;

.simple-calgrid-container {
  position: relative;
  // display: flex;
  & .value-wraper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:  $selected-color; // white;
    &.is-focus {
      background: $selected-color;
    }
  }
}