@import '../../style/mixin.scss';

.shelf-content-container {
  flex-grow: 1;
  
  & .shelf-header {
    position: relative;
    width: 100%;
    @include flex;
    justify-content: space-between;
    align-items: center;

    & .sortbox {
      border-radius: 5%;
      padding: .5em .1em;
      cursor: pointer;
      margin-left: 1em;
    }
  }
} 