@import '../../style/mixin.scss';

$fs-height: 30px;
$fs-font: 0.6em;
$action-height: 50px;
$action-font: 15px;

.product {
  position: relative;
  min-width: 250px;

  &:hover {
    border: lighten(grey, 40%) 1px solid;
  }

  & > .freeship {
    position: absolute;
    top: 10px;
    right: 5px;
    height: $fs-height;
    line-height: $fs-height;
    padding: 0 5px;
    font-size: $fs-font;
    color: white;
    background: black;
  }

  & > .product-content {
    @include flex;
    flex-direction: column;
    align-items: center;

    & > img {
      width: 100%;
      height: auto;
    }

    & > .title {
      position: relative;
      padding: 10px 0 12px 0;
      font-size: 14px;
      font-weight: 400;

      &::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: scaleX(-50%);
        width: 20px;
        height: 2px;
        background: lighten(orange, 10%);
      }
    }

    & > .price {
      margin: 20px 0;

      & .price_self {
        & b {
          margin-left: 4px;
          font-size: 20px;
        }
      }
      & .installment {
        margin-top: 4px;
        color: lighten(grey, 10%);
        font-weight: 600;
        font-size: 16px;
      }
    }

    & .product-action {
      width: 80%;
      background: black;
      color: white;
      height: $action-height;
      line-height: $action-height;
      font-size: $action-font;
      cursor: pointer;
      margin-bottom: 1em;

      &:hover {
        background: lighten(orange, 10%);
      }
    }
  }
}