

.btn {
    background-color: #ffffff;
    display: inline-block;
    color: #005386;
    cursor: pointer;
}

.title {
  &--main {
      color: #005386;
      letter-spacing: 0.42px;
      font-size: 42px;
      line-height: 80px;
  }

  &--sub {
      color: #555555;
      letter-spacing: 0.42px;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      & a {
          text-decoration: underline;
          color: #35b4ff;
          font-weight: 600;
      }
  }
}

.align-center {
    text-align: center;
}

@media only screen and (max-width: 1550px) {
  .title--main {
      font-size: 26px;
      line-height: 42px;
  }

  .title--sub {
    font-size: 18px;
    line-height: 28px;
}

  .discover-step-content--des {
    font-size: 18px;
    line-height: 28px;
  }

}