@import '../../style/mixin.scss';

.shelf {
  position: relative;
  @include flex;
  justify-content: center;
}

.shelf-content-container {
  position: relative;
  width: 1000px;
  

  & .shelf-header {
    position: relative;
    width: 100%;
    @include flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    & .sortbox {
      border-radius: 5%;
      height: 35px;
      cursor: pointer;
      margin-left: 1em;
      &:hover {
        border: 1px solid black;
      }
    }
  }// end .shelf-header

  & .products-wraper {
    @include flex;
    max-width: 1000px;
    flex-wrap: wrap;
    
    & > * {
      width: 233px;
    }
  }
} 