@import "../../../../assets/style/theme.scss";

$panelPadding: 8px 10px;
$containerWidth: 400px;
// $containerMinHeight: 90px;
$containerMaxHeight: 300px;

$action-height: 40px;
$icon-label-dimension: 17px;
$color-dot-dimension: 12px;
$field-label-width: 60px;

.caldayEvtView-pop {
  position: fixed;
  background: #fff;
  color: $fontColor;
  font-size: $fontSizeBasic;
  border-radius: 8px;
  box-shadow: $calDayEvtPresenterShadow;
}

.caldayEvtView-content {
  position: relative;
  width: $containerWidth;
  // min-height: $containerMinHeight;
  max-height: $containerMaxHeight;
  overflow-y: auto;

  .action-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: $action-height;
    padding-right: 20px;
  }

  .action-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-label {
    position: relative;

    .ali-icon {
      width: $icon-label-dimension;
      height: $icon-label-dimension;
      color: #5f6368;
    }
  }

  .fields-container {
    position: relative;
    width: 100%;

    .field {
      position: relative;
      display: flex;
      align-items: center;
    }

    .field-label {
      flex: 0 0 $field-label-width;
      display: flex;
      justify-content: center;
    }

    .field-body {
      flex: 1;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
  }

  .color-dot {
    display: block;
    width: $color-dot-dimension;
    height: $color-dot-dimension;
    border-radius: 4px;
  }

}
