@import "../../../../assets/style/theme.scss";
@import "../../../../assets/style/mixin.scss";

$panelPadding: 8px 10px;
$containerWidth: 400px;
// $containerMinHeight: 90px;
$containerMaxHeight: 700px;

$action-height: 40px;
$icon-label-dimension: 17px;
$color-dot-dimension: 12px;
$field-label-width: 60px;
$filed-margin: 10px;

.caldayEvtView-pop {
  position: fixed;
  background: #fff;
  color: $fontColor;
  font-size: $fontSizeBasic;
  border-radius: 8px;
  box-shadow: $calDayEvtPresenterShadow;
}

.caldayEvtView-content {
  position: relative;
  width: $containerWidth;
  // min-height: $containerMinHeight;
  max-height: $containerMaxHeight;
  overflow-y: auto;

  .action-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: $action-height;
    padding-right: 20px;
  }

  .action-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-label {
    position: relative;

    .ali-icon {
      width: $icon-label-dimension;
      height: $icon-label-dimension;
      color: #5f6368;
    }
  }

  .fields-container {
    position: relative;
    width: 100%;
    padding: 0 12px 12px 0;
    max-height: $containerMaxHeight;
    overflow-y: auto;
    @include customizeScrollbar();

    .field {
      position: relative;
      display: flex;
      align-items: flex-start;
      margin-bottom: $filed-margin;

      &.is-double-margin {
        margin-bottom: $filed-margin * 2;
      }
    }

    .field-label {
      flex: 0 0 $field-label-width;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
    }

    .field-body {
      flex: 1;
      text-align: left;
      display: flex;
      flex-direction: column;
      color: #3c4043;
      font-size: 13px;
      white-space: normal;
    }
  }

  .color-dot {
    display: block;
    width: $color-dot-dimension;
    height: $color-dot-dimension;
    border-radius: 4px;
  }

  .info-title {
    font-size: 22px;
  }

  .info-time {
    // font-size: 14px;
  }

}
