@import "../../../../assets/style/theme.scss";

.caldayEvt-simple-list {
  position: relative;
  width: 100%;
  // margin-top: 5px;

  & .no-evt-placeholder {
    font-size: 11px;
    text-align: left;
  }

  &__more {
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    line-height: $caldaySimpleevtItemHeight;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: $hoverBgColor;
    }

    &.is-selected {
      box-shadow: $calDayEvtPresenterShadow;
    }
  }
}
