@import '../../../../../assets/style/theme.scss';

.calbody-content-singleHourGrid-container {
  position: relative;
  width: 100%;
  height: $singleHourGridMaxHeight;
  border-left: 1px solid $appFrameBorderColor;
  border-bottom: 1px solid $appFrameBorderColor;
  cursor: pointer;

  // &.is-first {
  //   border-top: 1px solid $appFrameBorderColor;
  // }

  &__minSplitter {
    position: relative;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
  }
}