@import "../../../../assets/style/theme.scss";


$delete-height: 40px;

.calevt-ctxmenu {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // z-index: 700;
  // background: transparent;
  // user-select: none;

  .ctx-content {
    position: fixed;
    width: $calCtxMenuWidth;
    background: white;
    border-radius: 2px;
    box-shadow: $calEvtCtxMenuShadow;
    z-index: 700;

    &.is-activity {
      position: relative;

      .delete-container {
        display: flex;
        align-items: center;
        padding-left: 20px;
        line-height: $delete-height;
        border-bottom: 1px solid $appFrameBorderColor;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background: $hoverBgColor;
        }

        .item-icon {
          margin-right: 25px;
        }
      }

      .color-picker {
        position: relative;
        padding: 10px 16px 3px 16px;
      }
    }
  }
}
