@import '../../../../assets/style/theme.scss';

.calevt-ctxmenu {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // z-index: 700;
  // background: transparent;
  // user-select: none;

  .ctx-content {
    position: fixed;
    width: 200px;
    height: 50px;
    background: white;
    border-radius: 2px;
    box-shadow: $calEvtCtxMenuShadow;
    z-index: 700;
  }
}