.bxu-datapicker-container {
    position: relative;
    width: 240px;

    & .input-wrapper {
       position: relative;
       width: 160px;

       & .ali-icon {
           position: absolute;
           right: 5px;
           top: 50%;
           transform: translateY(-50%);
           cursor: pointer;
       }
    }
}