$container-height: 80px;
$image-size: 46px;

.header_container {
  position: relative;
  display:flex;
  width: 100%;
  border-bottom: 1px solid #eaeefb;

  & .logo_container {
    text-align: right;
    padding: ($container-height - $image-size)/2 0;
    margin: 0 20px 0 10%;
    height: $container-height;

    & img {
      width: $image-size;
    }
  }

  & .search_input_container {
    height: $container-height;
    padding: ($container-height - 30px)/2 0;
  }
} // end header_container