@mixin nav_link_style($nav-item-height, $padding, $activecolor, $bgColor) {
  & a {
    position: relative;
    text-decoration: none;
    color: lighten(#393838, 10%);
    font-size: 14px;
    line-height: $nav-item-height;
    width: 100%;
    height: 100%;
    padding: $padding;
    display: inline-block;
    &:hover {
      color: $activecolor;
      background: $bgColor;
      transition: all .3s ease;
    }
  }
}

@mixin btn_basic_style($bgcolor: #66a6ff, $color: #fff) {
  cursor: pointer;
  background: $bgcolor;
  color: #fff;
  transition: background ease 0.2s;  
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 8px 20px;
  outline: none;
}