
$padding-vertical: 20px;
$border-color: #e5e5e5;
$bg-nested-header: #f8f8f8;

.bxu-card-container {
  position: relative;
  border-radius: 2px;
  border: 1px solid $border-color;
  background: #fff;
  overflow: hidden;

  & .bxu-card-header {
    height: 48px;
    padding: 0 $padding-vertical;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;

    & .bxu-card-header_title {
      width: 100%;
    }
  }

  & .bxu-card-content {
    padding: $padding-vertical;
    font-size: 14px;
  }

  &.bxu-card-container_nested {
    margin-top: 10px;
    & .bxu-card-header {
      font-size: 14px;
      background: $bg-nested-header;
    }
  }
}