
@import '../../assets/style/theme.scss';

$header-padding: 50px;
$menu-width: 700px;

.expo-header {
  // position: absolute;
  width: 100%;
  height: $header-height;
  padding: 0 $header-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;


  &.is-absolute {
    position: absolute;
    color: #fff;
  }

  &.is-fixed {
    position: fixed;
    color: #fff;
    background: #343148ff;
    animation: slideInTop .2s ease-out forwards;
  }

  &-logo {
    img {
      width: 60px;
    }
  }

  &-menu {
     display: flex;
     width: $menu-width;
    //  justify-content: space-between;
    justify-content: flex-end;

    img {
      cursor: pointer;
    }

    .menu-item {
      min-width: 90px;
      margin: 0 10px;
      cursor: pointer;
      &.is-active {
        color: #00b1d2ff;
      }
    }

  }
}