@import "./mixin.scss";
.official-demo_container {
    position: relative;
    & .main-container {
        position: relative;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        & .sidebar-container {
            padding-left: 100px;
            flex: 1 1 0;
        }
        & .content-container {
            flex: 4 1 0;
            position: relative;
            padding: 0 40px;
        }
    }
    .bxu-btn {
        @include btn_basic_style;
    }
}