@import './assets/style/theme.scss';

// $header-bottom-to-top: 186px;
$header-bottom-to-top: 50px;
$carousel-text-left: 120px;

$edu-header-height: 70px;
$edu-header-padding: 0 120px;

@font-face {
    font-family: '3dslight';
    src: url('./assets/font/3dsLight.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.dls-promo-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url('./assets/svg/backdrop.svg');
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
}

.edu-header {
    position: relative;
    height: $edu-header-height;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $edu-header-padding;

    .ds-logo {
        // background: url('./assets/img/new/3ds_blue.png') 0 -88px transparent no-repeat;
        // background-position: 0 -176px;
        background-image: url('./assets/img/new/3ds_blue.png');
        background-position: center;
        background-size: contain;
        height: 44px;
        width: 132px;
        margin: 0;

        .ds-hide {
            clip: rect(1px 1px 1px 1px);
            position: absolute;
        }
    }

    // .dls-header-logo {
    //     // background: url('./assets/img/new/3ds_blue.png') 0 -88px transparent no-repeat;
    //     // background-position: 0 -176px;
    //     background: url('./assets/img/header_1920.png') 0 -88px transparent no-repeat;
    //     background-position: 0 -176px;
    //     height: 44px;
    //     width: 132px;
    //     margin: 0;

    //     .ds-hide {
    //         clip: rect(1px 1px 1px 1px);
    //         position: absolute;
    //     }
    // }
    .dls-header-logo img {
        height: 44px;
    }
}

.carousel-container {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$edu-header-height});
    min-height: 1000px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.discover-btn {
    position: absolute;
    left: 50%;
    // bottom: 40px;
    top: 800px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & img {
        width: 29px;
    }

    &--text {
        color: #005386;
        font-size: 24px;
        margin-left: 10px;
        letter-spacing: 0.24px;
        cursor: pointer;
    }
}

.carousel-main-img {
    position: absolute;
    height: auto;
    top: 180px;
    right: -20px;
    width: 1100px;
    max-width: 70%;
}

.carousel-main-img2 {
    position: absolute;
    height: auto;
    top: 180px;
    width: 600px;
    max-width: 40%;
    left: 50%;
}

.carousel-header {
    position: absolute;
    top: 20px;
}

.carousel-main {
    position: relative;
    // left: 0;
    // right: 0;
    // top: $header-bottom-to-top;
    padding-top: $header-bottom-to-top;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;

    &-text {
        position: relative;
        padding-left: $carousel-text-left;
        padding-top: 50px;
        padding-right: 100px;
        flex-shrink: 0;
        flex-grow: 0;
        width: 50%;
        text-align: left;
        color: #ffffff;
        letter-spacing: 0.5px;

        &--main {
            font-size: 42px;
            line-height: 60px;
            letter-spacing: 0.42px;
            font-weight: 600;
        }

        &--sub {
            margin-top: 40px;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.24px;
            text-align: justify;

            & > p {
                margin-bottom: 50px;
            }
        }

        &--btn {
            font-size: 26px;
            font-weight: 600;
            padding: 18px 52px;
            margin-top: 45px;
        }
    }
}

/*static css*/
.dls-logo {
    position: absolute;
    top: 40px;
    left: $carousel-text-left;
    width: 600px;
    display: flex;
    align-items: center;

    & img {
        width: 232px;
    }

    & .divider {
        display: block;
        height: 35px;
        width: 2px;
        opacity: 0.4;
        background-color: lighten(#005386, 40%);
        margin: 0 15px;
    }

    & .logo-text {
        font-family: '3dslight';
        font-size: 28px;
        font-weight: 600;
        color: #fff;
    }
}

// @media only screen and (min-width: 1100px) {
//    .carousel-container {
//     min-height: 900px;
//    }
// }

@media only screen and (max-width: 1550px) {
    // .discover-btn {
    //   bottom: 15px;
    // }

    .carousel-main-img {
        width: 65%;
        top: 80px;
    }

     .carousel-main-img2 {
       top: 80px;
     }

    .carousel-main-text {
        padding-left: 90px;
        padding-top: 80px;
        padding-top: 0px;
        padding-right: 90px;
    }

    .carousel-main-text--main {
        font-size: 40px;
        line-height: 42px;
    }

    .carousel-main-text--sub {
        font-size: 20px;
        line-height: 28px;
    }

    .carousel-main-text--btn {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1300px) {
    .carousel-main-img {
        width: 55%;
    }

    .carousel-main-text {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .carousel-main-text--main {
        font-size: 28px;
        line-height: 42px;
    }

    .carousel-main-text--sub {
        font-size: 16px;
        line-height: 28px;
    }

    .carousel-main-img,
    .carousel-main-img2 {
        display: none;
    }

    .carousel-main-text {
        width: 100%;
        text-align: center;
        padding: 0px 15px 0 15px;
    }

    .carousel-header {
        left: 50%;
    }

    .dls-logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .discover-btn--text {
        color: #ffffff;
    }
}

// @media only screen and (max-height: 1000px) {
//     .discover-btn {
//         top: 580px;
//         bottom: inherit;
//     }
// }

@media only screen and (max-width: 1600px){
    .discover-btn {
        top: 600px;
        bottom: inherit;
    }

    .carousel-container {
        min-height: 710px;
    }   
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .carousel-container {
        height: 710px;
    }
}

@media only screen and (max-width: 1000px) {
    .carousel-container {
        min-height: 800px;
    }
    
    .discover-btn {
        // top: 400px;
        bottom: 100px;
    }
}

//  @media only screen and (max-device-height: 600px) {
//   .carousel-container {
//     height: 800px;
//   }
// }
