// .react-tooltip-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }

.react-tooltip {
  position: absolute;
  z-index: 1099;
  display: block;
  opacity: .9;
  background: black;
  color: white;
  font-size: 12px;
  padding: 5px;
}