$color1: #d50000;
$color2: #e67c73;
$color3: #f4511e;
$color4: #f6bf26;
$color5: #33b679;
$color6: #0b8043;
$color7: #039be5;
$color8: #3f51b5;
$color9: #7986cb;
$color10: #8e24aa;
$color11: #616161;
